body {
  font-family: sans-serif;
}
label {
  display: block;
}
input[type="button"] {
  font: inherit;
}
.signin-status {
  display: flex;
  flex-flow: row-reverse;
  font-size: 11px;
}
.catalog-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
