body {
  font-family: sans-serif;
}
label {
  display: block;
  padding: 5px;
}
input[type="button"] {
  font: inherit;
}
.signin-status {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  height: 24px;
  font-size: 11px;
}
.heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#signin-dialog, .g-signin2, #result {
  width: fit-content;
  margin: 0 auto;
}
#signin-dialog {
  padding-top: 25%;
}
#result {
  font-size: 13px;
  padding-top: 13px;
}
