body {
  font-family: Gill sans, sans-serif;
}
label {
  display: block;
  padding: 5px;
}
input[type="button"], input[type="submit"] {
  font: inherit;
}
textarea {
  display: block;
  -webkit-appearance: textfield;
}
.signin-status {
  display: flex;
  display: -webkit-flex;
  flex-direction: row-reverse;
  align-items: baseline;
  height: 24px;
  font-size: 11px;
}
.heading {
  display: flex;
  display: -webkit-flex;
  align-items: baseline;
  justify-content: space-between;
}
#signin-dialog, .g-signin2, #result {
  width: fit-content;
  margin: 0 auto;
}
#signin-dialog {
  padding-top: 25%;
}
#result {
  font-size: 13px;
  padding-top: 13px;
}
img.cheese-image {
  max-width: 300px;
}
.cheese-data {
  display: flex;
  display: -webkit-flex;
}
.cheese-details {
  margin: 0 15px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.cheese-description {
  flex: 1 0 auto;
}
.cheese-place {
  flex: 0 0 auto;
}
.breadcrumb {
  font-size: 11px;
  font-style: italic;
}
