<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cheese catalog</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
    <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '{{ client_id }}'
          });
        });
      }
    </script>
  </head>
  <body>
    <div class="login-status">
      {% if user_name %}
        <a href="" onclick="signout();">Sign out {{ user_name }}</a>
      {% else %}
        <form class="login">
          <input type="button" name="login" onclick="window.location.href='{{ url_for('login') }}'" value="Sign in">
        </form>
      {% endif %}
      <script>
        function signout() {
          console.log('callback');
          auth2.signOut().then(function() {
            window.location.href="{{ url_for('sign_out') }}";
          });
        }
      </script>
    </div>
    <div class="catalog-heading">
      <h1>Cheeses</h1>
      {% if user_name %}
        <form class="create-cheese">
          <input type="button" name="create" onclick="window.location.href='{{ url_for('new_cheese') }}'" value="Create new cheese">
        </form>
      {% endif %}
    </div>
    <ul class="types">
      {% for t in types %}
        <li><a href="{{ url_for('get_cheeses', type_id=t.id) }}">{{ t.name }}</a></li>
      {% endfor %}
    </ul>

  </body>
</html>
