<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cheese catalog</title>
  </head>
  <body>
    <div class="login-status"></div>
    <div class="catalog-heading">
      <h1>Cheeses</h1>
    </div>
    <ul class="varieties">
      {% for v in varieties %}
        <li>{{ v.name }} </li>
        <ul>
          {% for c in range(preview_list) %}
            <li><a href="{{ url_for('get_cheese', cheese_id=c) }}">{{ cheeses[c].name }}</a> </li>
          {% endfor %}
          {% if more_cheese %}
            <li><a href="{{ url_for('get_cheeses', variety_id=v.id) }}">More {{ v.name }} </a> </li>
          {% endif %}
        </ul>
      {% endfor %}
    </ul>

  </body>
</html>
