<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cheese catalog</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    {% include 'partials/signin_status.html' %}
    <div class="catalog-heading">
      <h1>Cheeses</h1>
      {% if user_name %}
        <form class="create-cheese">
          <input type="button" name="create" onclick="window.location.href='{{ url_for('new_cheese') }}'" value="Create new cheese">
        </form>
      {% endif %}
    </div>
    <ul class="types">
      {% for t in types %}
        <li><a href="{{ url_for('get_cheeses', type_id=t.id) }}">{{ t.name }}</a></li>
      {% endfor %}
    </ul>

  </body>
</html>
