<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ cheese.name }}</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    {% include 'partials/signin_status.html' %}
    <div class="breadcrumb">
      <p><a href="{{ url_for('get_index') }}">Home</a> >> <a href="{{ url_for('get_cheeses', type_id=cheese.type_id) }}">Cheeses</a> >> {{ cheese.name }}</p>
    </div>
    <div class="cheese">
      <div class="heading">
        <h1>{{ cheese.name }}</h1>
        {% if can_edit %}
          <form class="cheese-actions">
            <input type="button" name="edit" onclick="location.href='{{ url_for('edit_cheese', cheese_id=cheese.id) }}'" value="Edit">
            <input type="button" name="delete" onclick="location.href='{{ url_for('delete_cheese', cheese_id=cheese.id) }}'" value="Delete">
          </form>
        {% endif %}
      </div>
      <div class="cheese-data">
        <div>
          <img class="cheese-image" src="{{ cheese.image }}" alt="{{ cheese.name }}">
        </div>
        <div class="cheese-details">
          <div class="cheese-description">{{ cheese.description }}</div>
          <div class="cheese-place">Place of origin: {{ cheese.place }}</div>
        </div>
      </div>
    </div>

  </body>
</html>
