<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="{{ client_id }}">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
    <!-- import jquery pre-requisite for google auth flow sample code -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- import google platform API pre-requisite for google auth flow -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div id="signin-dialog">
      <!-- Google signin component -->
      <div class="g-signin2" data-onsuccess="onSuccess">

      </div>
      <div id="result">

      </div>

    </div>
    <!-- callback function for Google sign-in, invoked by auth2 object -->
    <script>
      function onSuccess(googleUser) {
          let id_token = googleUser.getAuthResponse().id_token;
          $.ajax({
            type: 'POST',
            url: '/tokensignin',
            contentType: 'application/octet-stream; charset=utf-8',
            data: id_token,
            success: function(result){
              $('#result').html('Welcome, ' + result);
              setTimeout(function() {
                window.location.href = '/';
              }, 3000);
            }
          });
      }

    </script>
  </body>
</html>
