<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create cheese</title>
  </head>
  <body>
    <h1>Create a new cheese</h1>
    <form class="new-cheese" action="{{ url_for('new_cheese') }}" method="POST">
      <label>Name:
          <input name="name">
      </label>
      <label>Type:
        <select name="type">
          {% for t in types %}
            <option value="{{ t.id  }}">{{ t.name  }}</option>
          {% endfor %}
        </select>
      </label>
      <label>Description:
          <input name="description">
      </label>
      <label>Milk:
        <select name="milk">
          {% for m in milks %}
            <option value="{{ m.id  }}">{{ m.name  }}</option>
          {% endfor %}
        </select>
      </label>
      <label>Place of origin:
          <input name="place">
      </label>
      <input type="submit" value="Create cheese">
      <input type="button" name="cancel" onclick="history.back()" value="Cancel">
    </form>

  </body>
</html>
