{% extends 'content_outline.html' %}
{% block title %}Cheese catalog {% endblock %}
{% block sign_in %}
  {% include 'partials/signin_status.html' %}
{% endblock %}
{% block breadcrumb %}
  <div class="breadcrumb">
    <p>Home</p>
  </div>
{% endblock %}
{% block header %}
  <div class="heading">
    <h1>Cheeses</h1>
    {% if user_name %}
      <form class="create-cheese">
        <input type="button" name="create" onclick="window.location.href='{{ url_for('new_cheese') }}'" value="Create new cheese">
      </form>
    {% endif %}
  </div>
{% endblock %}
{% block details %}
  <div class="cheese-types">
    {% for t in types %}
      <h2>{{ t['name'] }}</h2>
      <div class="cheese-type-preview">
        {% for c in t['cheeses'] %}
          <div class="cheese-thumbnail">
            <a href="{{ url_for('get_cheese', cheese_id=c.id) }}">
              <figure>
                {% if c.image %}
                  <img class="cheese-thumbnail" src="{{ c.image }}" alt="img:{{ c.name }}">
                {% else %}
                  <img class="cheese-thumbnail" src="{{ url_for('static', filename='cheese.png') }}" alt="img:{{ c.name }}">
                {% endif %}
                <figcaption>{{ c.name }}</figcaption>
              </figure>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
