<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create cheese</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>Create a new cheese</h1>
    <form name="new-cheese" action="{{ url_for('new_cheese') }}" method="POST" onsubmit="return validateForm()">
      <label>Name:
          <input required type="text" name="name" placeholder="Name is required!">
      </label>
      <label>Type:
        <select name="type">
          {% for t in types %}
            {% if t.id == preset_type %}
              <option type="number" value="{{ t.id  }}" selected>{{ t.name  }}</option>
            {% else %}
              <option type="number" value="{{ t.id  }}">{{ t.name  }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </label>
      <label>Description:
          <textarea name="description" rows="5" cols="50"></textarea>
      </label>
      <label>Milk:
        <select name="milk">
          {% for m in milks %}
            <option type="number" value="{{ m.id  }}">{{ m.name  }}</option>
          {% endfor %}
        </select>
      </label>
      <label>Place of origin:
          <input type="text" name="place">
      </label>
      <label>Image url:
          <input type="url" name="image" pattern="https?://.+">
      </label>
      <input type="submit" value="Create cheese">
      <input type="button" name="cancel" onclick="history.back()" value="Cancel">
    </form>

  </body>
</html>
